@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400&family=Roboto:ital,wght@1,100;1,900&family=Send+Flowers&display=swap');

.nav-colo-1 {
    background-color: #ffffffba;
}

.navbar-style {
    margin-top: 1rem;
    margin-left: 3.5rem;
    margin-right: 3.5rem;
    border-radius: 10px;
}

.navbar-nav .nav-link.active {
    color: #222 !important;
}

.navbar-nav .nav-link.active:focus {
    color: #598216 !important;
}

.nav-menu {
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    justify-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

@media screen and (max-width: 750px) {
    .logo-img img {
        height: 3rem;
    }
}

.link-item-colr {
    color: black;
}

.link-item-colr:hover {
    color: #598216;
}

.nav-link {
    text-decoration: none;
    color: #222;
    font-size: 600;
    padding: 0.7rem 1rem;
    white-space: nowrap;
}

.active,
.nav-link:hover {

    color: #598216;
}

.nav-link.active {
    color: #598216;
}

.nav-link::after {
    content: "";
    height: 2px;
    width: 0%;
    display: block;
    transition: .5s ease-in-out;
    transform: scale(0, 1);
    transform-origin: 50%;
}

.nav-link:hover::after {
    content: "";
    height: 2px;
    width: 100%;
    display: block;
    background-color: #EFC100;
    transform: scale(1, 1);
}

.mflex {
    display: flex !important;
    margin-left: auto !important;
}

@media screen and (max-width: 992px) {

    .mflex {
        display: block !important;
        margin-left: 0% !important;
    }
}

@media screen and (max-width: 600px) {
    .navbar-style {
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;
        border-radius: 0;
        box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .25);
    }

    .logo-img img {
        height: 2rem;
    }
}

/* navbar css finish here */


/*slider*/
.slide-bar {
    padding: 1.5%;
    border-radius: 1rem;
    width: 100%;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #F9F8E7;
}

.mar {
    padding-top: 6rem;
}

.text-margin {
    text-align: start;
    margin: 0%;
    align-items: center;
}

.carousel-control-next-icon {
    background-image: url(../Assets/RightArrow.png);
}

.carousel-control-prev-icon {
    background-image: url(../Assets/LeftArrow.png);
}

.caption {

    padding-bottom: 10% !important;
    text-align: center;
}

.caption h1 {
    color: #67A2EA;
    font: normal normal 900 63px/37px Montserrat;
}

.caption h2 h3 {
    font: normal normal 900 63px/37px Montserrat;
    color: #FFFFFF;
}

.caption p {
    font: normal normal normal 18px/26px Poppins;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 18px/26px var(--unnamed-font-family-poppins);
    color: #FFFFFF;
    display: block;
}


.play-button {
    width: 10%;
    border-radius: 50%;
    background-color: #FFFFFF;
    padding: 3%;

}

@media screen and (max-width: 768px) {
    .play-button {
        width: 20%;
        border-radius: 50%;
        background-color: #FFFFFF;
        padding-top: 4%;
    }

    .play-button:after {
        content: "";
        display: block;
        padding-bottom: 15%;
    }

    .caption h1 {
        font-size: 35px;
        color: #67A2EA;
    }

    .caption h3 {
        font-size: 12px;
        color: #FFFFFF;
    }
}

@media screen and (max-width: 500px) {

    .caption h1 {
        font-size: 25px;
        color: #67A2EA;
    }

    .caption h2 {
        font-size: 11px;
        font-weight: 50;
        color: #FFFFFF;
    }

    .caption p {
        display: none;
        color: #FFFFFF;
    }
}
@media screen and (max-width:767px) {
    .play i{
        font-size:medium;
    }
}
@media screen and (max-width:320px) {
    .play i{
        font-size: small;
    }
}
